<div class="tutorial-page">
  <div class="page-body">
    <div class="title">
      <h2>MATA32 Fall 2021: TUT001 & TUT031</h2>
    </div>
    <div class="subtitle">
      <h4>Calculus for Management I</h4>
    </div>
    <div class="tutorials">
      <div class="tutorial-info row">
        <div class="col-md-4">
          <h3><u>TA Name:</u></h3>
          <p>Tony Cao</p>
        </div>
        <div class="col-md-4">
          <h3>
            <u>Tutorial Times:</u>
          </h3>
          <p class="tutorial">Tues 9-10am SW128</p>
          <p class="tutorial">Fri 12-1pm Online</p>
        </div>
        <div class="col-md-4">
          <h3>
            <u>Office Hours:</u>
          </h3>
          <p class="tutorial">Tues 12-1pm Online</p>
          <p class="tutorial">Fri 2:30-3:30pm IC404</p>
        </div>
      </div>
      <div *ngIf="items.length == 0">
        <h5>No tutorial notes yet, check back later!</h5>
      </div>
      <div class="final-remarks">
        <h4>
          <b
            >That's all for tutorials! <br />
            Best of luck on the final + everything!</b
          >
        </h4>
      </div>
      <!-- <div *ngIf="tutorials.length > 0">
        <div class="tutorial-notes" *ngFor="let tutorial of tutorials">
          <app-tutorial-box [tutorial]="tutorial"></app-tutorial-box>
        </div>
      </div> -->
      <app-ngx-vertical-timeline [(items)]="items"></app-ngx-vertical-timeline>
      <div class="icons">
        <a href="mailto:jtony.cao@mail.utoronto.ca">
          <fa-icon class="footer-icon" [icon]="faEnvelope"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
          <fa-icon class="footer-icon" [icon]="faLinkedinIn"></fa-icon>
        </a>
        <a href="https://github.com/t-cao19" target="_blank">
          <fa-icon class="footer-icon" [icon]="faGitHub"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
