<div class="card educationBox">
  <div class="row">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">University of Toronto</h5>
        <p class="date">2018 - Present</p>
        <p class="degree">Honours Bachelor of Science</p>
        <p class="major">Computer Science, Specialist</p>
        <p class="major">Mathematics, Major</p>
        <hr />
        <p class="relevant">Relevant Courses:</p>
        <p class="course">Algorithm Design and Analysis</p>
        <p class="course">Data Structure and Analysis</p>
        <p class="course">Principles of Programming Languages</p>
        <p class="course">Software Design and Engineering</p>
      </div>
    </div>
    <div class="col-md-4 picture">
      <img src="../../../assets/images/UofT.jpg" class="education-pic" />
    </div>
  </div>
</div>
