<footer>
    <div class="footer content">
        <div class="contact">
            <h1>Tony Cao</h1>
            <p>Email: jtony.cao [at] mail.utoronto.ca</p>
            <div class="icons">
                <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
                    <fa-icon
                    class="media-icon"
                    [icon]="faLinkedinIn"
                    ></fa-icon>
                </a>
                <a href="https://github.com/t-cao19" target="_blank">
                    <fa-icon
                    class="media-icon"
                    [icon]="faGitHub"
                    ></fa-icon>
                </a>
            </div>
            <p><i>"Yesterday's the past, tomorrow's the future, but today is a gift. That's why it's called the present."~ Bil Keane </i></p>
            <br>
            <p>© 2020 Tony Cao</p>
        </div>
    </div>
</footer>