<footer>
  <div id="footer-content">
    <p
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-landscape': isPhoneLandscape
      }"
    >
      © Copyright 2023 Tony Cao
    </p>
    <p
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-landscape': isPhoneLandscape
      }"
    >
      tony.cao1 [at] outlook.com
    </p>
  </div>
</footer>
