@import "src/styles";

.navbar {
  background-color: transparent;
  z-index: 100;
}

.navbar-brand {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 35px;
  margin-left: 10px;
  color: $navigation-color;
}

.navbar-brand:hover {
  color: $navigation-accent-color;
}

.nav-link {
  font-size: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: $navigation-color;
  margin: 0;
}

.nav-link:hover {
  color: $navigation-accent-color;
}

.active {
  color: $navigation-accent-color;
}
