<nav class="navbar navbar-expand-lg">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="line"></span>
    <span class="line"></span>
    <span class="line" style="margin-bottom: 0"></span>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse row" id="navbarNav">
    <div class="col-md-5">
      <div
        id="navbar-title"
        [ngClass]="{ 'is-tablet-landscape': isTabletLandscape }"
      >
        Tony Cao | Software Developer
      </div>
    </div>
    <div class="col-md-5">
      <ul class="navbar-nav">
        <li class="nav-item nav-link">
          <a
            class="nav-link"
            (click)="home()"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
            [ngClass]="{ 'is-tablet-landscape': isTabletLandscape }"
          >
            Home
          </a>
        </li>
        <li class="nav-item nav-link">
          <a
            class="nav-link"
            (click)="now()"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
            [ngClass]="{ 'is-tablet-landscape': isTabletLandscape }"
          >
            Now
          </a>
        </li>
        <li class="nav-item nav-link">
          <a
            class="nav-link"
            (click)="resume()"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
            [ngClass]="{ 'is-tablet-landscape': isTabletLandscape }"
          >
            Resume
          </a>
        </li>
        <li class="nav-item nav-link">
          <a
            class="nav-link"
            (click)="projects()"
            data-toggle="collapse"
            data-target=".navbar-collapse.show"
            [ngClass]="{ 'is-tablet-landscape': isTabletLandscape }"
          >
            Projects
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
        <fa-icon class="media-icon" [icon]="faLinkedinIn"></fa-icon>
      </a>
      <a href="https://github.com/t-cao19" target="_blank">
        <fa-icon class="media-icon" [icon]="faGitHub"></fa-icon>
      </a>
      <a href="mailto:tony.cao1@outlook.com">
        <fa-icon class="media-icon" [icon]="faEnvelope"></fa-icon>
      </a>
    </div>
  </div>
</nav>
