@import "src/styles";

.navbar {
  background: #fff;
}

#navbar-title {
  color: #1b1a19;
  font-family: "Work Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  margin-left: 10%;
}

#navbar-title.is-tablet-landscape {
  font-size: 22px;
  margin-left: 10px;
}

#navbar-title.is-tablet-portrait {
  font-size: 22px;
  margin-left: 10px;
}

#navbarNav {
  border-bottom: rgba(0, 0, 0, 0.16) 1px solid;
  padding: 10px 0px;
}

.nav-link {
  color: #1b1a19;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;

  color: black;
  margin-left: 15px;
}

.nav-link.is-tablet-landscape,
.nav-link.is-tablet-portrait {
  font-size: 18px;
  margin-left: 0px;
  padding: 0px;
}

.media-icon {
  padding-right: 20px;
  font-size: 20px;
  color: black;
}

.media-icon.is-tablet-portrait {
  font-size: 18px;
  margin-right: 20px;
}

.navbar-toggler {
  background: #000;
  border: 1px solid white;
  width: 47px;
  height: 34px;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.navbar-toggler > .line {
  margin-top: 2px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nav-link:hover {
  color: $navigation-accent-color;
}

.active {
  color: $navigation-accent-color;
}
