<nav class="navbar navbar-expand-lg fixed-top">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav">
    <li class="nav-item nav-link">
      <a class="nav-link"> About Me </a>
    </li>
    <li class="nav-item nav-link">
      <a class="nav-link"> Resume </a>
    </li>
    <li class="nav-item nav-link">
      <a class="nav-link"> Projects </a>
    </li>
    <li class="nav-item nav-link">
      <a class="nav-link"> Volunteer </a>
    </li>
  </ul>
</nav>
