@import "src/styles";

.navbar {
  background-color: #16425b;
  z-index: 100;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  color: $navigation-color;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px;
}

.navbar-toggler {
  background-color: #16425b;
  border: 1px solid white;
  width: 47px;
  height: 34px;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nav-item {
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-nav {
  margin: auto;
}

.nav-link:hover {
  color: $navigation-accent-color;
}

.active {
  color: $navigation-accent-color;
}
