<div class="teaching-page">
  <div class="page-body">
    <div class="header">
      <h2>Teaching</h2>
    </div>
    <div class="container">
      <div data-aos="fade-up">
        <div class="content-wrap">
          <main class="grid" data-aos="fade-up">
            <article *ngFor="let teaching of teachings">
              <img src="{{ teaching.image }}" alt="{{ teaching.course }}" />
              <div class="text">
                <a href="{{ teaching.calendar }}" target="_blank">{{
                  teaching.course
                }}</a>
                <p>{{ teaching.date }}</p>
                <p>{{ teaching.instructor }}</p>
                <p>{{ teaching.school }}</p>
                <a
                  *ngIf="teaching.webpage"
                  href="{{ teaching.webpage }}"
                  class="btn btn-primary btn-block align-self-end"
                  target="”_blank”"
                  >Webpage</a
                >
              </div>
            </article>
          </main>
        </div>
      </div>
      <div class="icons">
        <a href="mailto:jtony.cao@mail.utoronto.ca">
          <fa-icon class="footer-icon" [icon]="faEnvelope"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
          <fa-icon class="footer-icon" [icon]="faLinkedinIn"></fa-icon>
        </a>
        <a href="https://github.com/t-cao19" target="_blank">
          <fa-icon class="footer-icon" [icon]="faGitHub"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
