<div id="timeline">
  <div *ngFor="let item of list; let i = index" class="timeline-item">
    <div [class]="item.styleClass ? item.styleClass : ''">
      <fa-icon [icon]="faCalendarPlus" class="timeline-icon"></fa-icon>

      <div class="timeline-content" [class.right]="i % 2 !== 0">
        <div class="header">
          <h2>
            <b>{{ item?.title }}</b>
          </h2>
          <h3>{{ item?.date }}</h3>
        </div>
        <p *ngIf="item.content">
          {{ item?.content }}
        </p>
        <div *ngIf="item.bullets">
          <p><b>Topics Covered:</b></p>
          <ul *ngFor="let point of item.bullets">
            <li>{{ point }}</li>
          </ul>
        </div>
        <button
          *ngIf="item?.command"
          class="btn bg-purple"
          (click)="action(item)"
        >
          <fa-icon [icon]="faSearchPlus"></fa-icon>{{ item?.label }}
        </button>
      </div>
    </div>
  </div>
</div>
