<div class="card resumeExp" [ngClass]="inverted ? 'text-inverted' : ''">
  <div class="row" [ngClass]="{ hidden: isPhonePortrait }">
    <div class="col-md-6">
      <h3
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'text-inverted': inverted,
          'is-phone-landscape': isPhoneLandscape
        }"
      >
        {{ experience.position | titlecase }}
      </h3>
    </div>
    <div class="col-md-6 date">
      <h3
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'text-inverted': inverted,
          'is-phone-landscape': isPhoneLandscape
        }"
      >
        {{ experience.date }}
      </h3>
    </div>
  </div>
  <div [ngClass]="{ hidden: !isPhonePortrait }">
    <h3
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-portrait': isPhonePortrait,
        'text-inverted': inverted
      }"
    >
      {{ experience.position | titlecase }}
    </h3>

    <h3
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'text-inverted': inverted,
        'is-phone-portrait': isPhonePortrait
      }"
    >
      {{ experience.date }}
    </h3>
  </div>
  <div
    class="company"
    [ngClass]="{
      'is-tablet-landscape': isTabletLandscape,
      'is-tablet-portrait': isTabletPortrait,
      'text-inverted': inverted,
      'is-phone-portrait': isPhonePortrait,
      'is-phone-landscape': isPhoneLandscape
    }"
  >
    {{ experience.company }}
  </div>
  <ul *ngFor="let bullet of experience.desc">
    <li
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'text-inverted': inverted,
        'is-phone-portrait': isPhonePortrait,
        'is-phone-landscape': isPhoneLandscape
      }"
    >
      {{ bullet }}
    </li>
  </ul>
  <hr [ngClass]="inverted ? 'hr-inverted' : ''" />
</div>
