@import "src/styles";

.volunteer-page {
  background: linear-gradient(
      0deg,
      rgba(58, 124, 165, 0.5),
      rgba(58, 124, 165, 0.5)
    ),
    url(../../../assets/images/Background.jpg) center top;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
}

.title {
  text-align: center;
  color: white;
  padding-bottom: 30px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.row {
  padding-top: 15px;
}

mat-expansion-panel {
  width: 70%;
  margin: 10px auto 10px auto;
  padding: 15px;
}

mat-panel-title {
  padding-top: 40px;
  padding-bottom: 15px;
}

mat-action-row {
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.dropdown-pic {
  width: 195px;
  height: 300px;
  object-fit: cover;
}

.media-icons {
  position: absolute;
  top: 135px;
  width: 220px;

  @media screen and (max-width: 850px) {
    position: relative;
    top: 20px;
  }
}

.media-icon {
  font-size: 35px;
  float: right;
  color: black;
  padding-left: 10px;
}

.header-box {
  background-color: white;
}

.page-header-img {
  opacity: 0.5;
}

.more-activites {
  padding: 15px;
  text-align: center;
}

.footer-icon {
  font-size: 50px;
  margin: 10px 10px 20px 20px;
  color: white;
}

.icons {
  padding-top: 15px;
  padding-bottom: 15px;
  left: 50%;
  text-align: center;
}
