<div class="volunteer-page">
  <div class="page-body">
    <div class="title">
      <h2>Extracurricular Activites</h2>
    </div>
    <mat-accordion class="example-headers-align">
      <div *ngFor="let volunteer of volunteers; index as i">
        <mat-expansion-panel
          [expanded]="step === i"
          (opened)="setStep(i)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title> <h3>{{ volunteer.title }} </h3></mat-panel-title>
            <mat-panel-description>
              <p>{{ volunteer.description }}</p>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="row">
            <div class="col-md-4">
              <img src="{{ volunteer.image }}" class="dropdown-pic" />
            </div>
            <div class="col-md-8">
              <br />
              <p><b>Overview:</b></p>
              <p>{{ volunteer.overview }}</p>
              <br>
              <p><b>Dates:</b> {{ volunteer.date }}</p>
              <br>
              <p><b>Key Highlights:</b></p>
              <ul *ngFor="let point of volunteer.points">
                <li>
                  {{ point }}
                </li>
              </ul>
              <div class="icons">
                <a
                  href="{{ volunteer.instagram }}"
                  target="_blank"
                  *ngIf="volunteer.instagram != ''"
                >
                  <fa-icon
                    class="media-icon"
                    [icon]="faInstagram"
                  ></fa-icon>
                </a>
                <a
                href="{{ volunteer.facebook }}"
                target="_blank"
                *ngIf="volunteer.facebook != ''"
              >
                <fa-icon
                  class="media-icon"
                  [icon]="faFacebook"
                ></fa-icon>
              </a>
            </div>
          </div>
        </div>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()" *ngIf="i != 0">
            <p>Previous</p>
          </button>
          <button
            mat-button
            color="primary"
            (click)="nextStep()"
            *ngIf="i != volunteers.length - 1"
          >
            <p>Next</p>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
  <div class="icons">
    <a href="mailto:jtony.cao@mail.utoronto.ca" >
      <fa-icon
      class="footer-icon"
      [icon]="faEnvelope"
      ></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
        <fa-icon
        class="footer-icon"
        [icon]="faLinkedinIn"
        ></fa-icon>
    </a>
    <a href="https://github.com/t-cao19" target="_blank">
        <fa-icon
        class="footer-icon"
        [icon]="faGitHub"
        ></fa-icon>
    </a>
  </div>
  </div>
</div>
