<div class="card teachingBox">
  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <h5 class="card-title">{{ teaching.date }}</h5>
      </div>
      <div class="col-md-4">
        <p class="school">{{ teaching.school }}</p>
      </div>
    </div>
    <p>{{ teaching.course }}</p>
    <p>{{ teaching.tutorial }}</p>
    <div class="row">
      <div class="col-md-9">
        <p>{{ teaching.instructor }}</p>
      </div>
      <div class="col-md-3">
        <button
          class="tutorial-webpage"
          type="button"
          (click)="navigate()"
          *ngIf="teaching.webpage"
        >
          Webpage
        </button>
      </div>
    </div>
  </div>
</div>
