<div class="about-page">
  <div class="page-body">
    <div class="header">
      <h2>Now</h2>
      <p>(Image is from Tubing on the Grand River during Summer 2021)</p>
    </div>
    <div class="now-info">
      <p>
        Inspiried by the
        <a href="https://nownownow.com/about" target="_blank">now</a>
        movement. This page is a written version of what I am currently doing
        and what's happening in my life at a particular point of time. It's what
        I would say to a friend when catching up over some coffee (which I
        absolutely love).
      </p>
    </div>
    <div class="info" data-aos="fade-up">
      <div class="content-wrap row">
        <div class="col-md-3 img">
          <img
            class="profile-img"
            src="../../../assets/images/me/Tony_Math.jpg"
            alt="Tony Cao"
          />
        </div>
        <div class="col-md-9">
          <div class="bio-text">
            <p>
              Currently in my final year of my undergraduate degree at the
              University of Toronto
            </p>
            <br />
            <p>More specifically:</p>
            <ul>
              <li>
                Taking courses in <i>Computer Networks </i>,
                <i>Social Networks</i>, <i>Web Programming</i> and
                <i>Number Theory</i>.
              </li>
              <li>Getting invovled with department events</li>
              <li>Catching up on my reading list</li>
              <ul>
                <li>
                  <u>Currently reading</u>: <i>Wrong Place Wrong Time</i> by
                  Gillian McAllister
                </li>
                <li><i>The Paris Apartment</i> by Lucy Foley</li>
              </ul>
              <li>TAing on Campus</li>
              <ul>
                <li>
                  <a
                    href="https://utsc.calendar.utoronto.ca/course/csca67h3"
                    target="_blank"
                    >CSCA67: Discrete Mathematics</a
                  >
                </li>
                <li>
                  <a
                    href="https://utsc.calendar.utoronto.ca/course/cscc43h3"
                    target="_blank"
                    >CSCC43: Intro to Databases</a
                  >
                </li>
                <li>
                  <a
                    href="https://utsc.calendar.utoronto.ca/course/matb24h3"
                    target="_blank"
                    >MATB24: Linear Algebra II</a
                  >
                </li>
                <li>
                  <a
                    href="https://utsc.calendar.utoronto.ca/course/matb41h3"
                    target="_blank"
                    >MATB41: Techniques of the Calculus of Several Variables
                    I</a
                  >
                </li>
                <li>
                  <a
                    href="https://utsc.calendar.utoronto.ca/course/matc01h3"
                    target="_blank"
                    >MATC01: Groups and Symmetry
                  </a>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="info" data-aos="fade-up">
      <div class="content-wrap row">
        <div class="col-md-9">
          <div class="bio-text">
            <ul>
              <li>Begin looking for full-time jobs after grduation</li>
              <li>Coding various side projects</li>
              <ul>
                <li>
                  Using Angular to enhance my personal webpage (this site!)
                </li>
                <li>Learning ReactJS framework</li>
                <li>Exploring SQL further</li>
              </ul>
              <li>
                Enjoying what's left of my undergraduate journey, one day at a
                time!
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 img">
          <img
            class="profile-img"
            src="../../../assets/images/me/MathOffice.JPG"
            alt="Tony Cao"
          />
        </div>
      </div>
    </div>

    <div class="now-info date" data-aos="fade-up">
      <p>This version is accurate as of Fall 2022</p>
    </div>

    <div class="icons">
      <a href="mailto:jtony.cao@mail.utoronto.ca">
        <fa-icon class="footer-icon" [icon]="faEnvelope"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
        <fa-icon class="footer-icon" [icon]="faLinkedinIn"></fa-icon>
      </a>
      <a href="https://github.com/t-cao19" target="_blank">
        <fa-icon class="footer-icon" [icon]="faGitHub"></fa-icon>
      </a>
    </div>
  </div>
</div>
