<div class="about-page">
    <div class="page-body">
        <div class="title">
            <h2>About Tony</h2>
        </div>
        <div class="profile-box">
            <div class="content-wrap">
                <div class="col-narrow">
                    <img class="profile-img" src="../../../assets/images/Tony Cao.jpg" alt="Tony Cao" />
                </div>
                <div class="col-wide">
                    <h5>Hola, Bonjour, Welcome!</h5>
                    <br>
                    <div class="bio-text">
                        <p> My name is Tony Cao and I am currently a 3rd year Computer Science - Software Engineering and Mathematics student 
                        at the University of Toronto. When I am not burried deep in assignments, I am an avid baker of things ranging from 
                        cookies to cakes to bread!</p>
                        <br>
                        <p>Quick Highlights:</p>
                        <ul>
                            <li>Former Data Scientist Co-op at TELUS (Jan-Aug 2020)</li>
                            <li>Avid baker, reader and NetFlix binger!</li>
                            <li>Intermediate front-end webdeveloper using Angular</li>
                            <li>Recipeint of multiple U of T awards and scholarships</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="icons">
                <a href="mailto:jtony.cao@mail.utoronto.ca" >
                <fa-icon
                class="footer-icon"
                [icon]="faEnvelope"
                ></fa-icon>
                </a>
                <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
                    <fa-icon
                    class="footer-icon"
                    [icon]="faLinkedinIn"
                    ></fa-icon>
                </a>
                <a href="https://github.com/t-cao19" target="_blank">
                    <fa-icon
                    class="footer-icon"
                    [icon]="faGitHub"
                    ></fa-icon>
                </a>
            </div>
        </div>
    </div>
</div>