<div class="card experienceBox">
  <div class="row">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ experience.date }}</h5>
        <p class="position">{{ experience.position | uppercase }}</p>
        <br />
        <p class="employer">{{ experience.employer }}</p>
        <br />
        <p *ngIf="experience.note">
          <i>{{ experience.note }}</i>
        </p>
        <br />
        <a href="{{ experience.link }}" target="_blank" *ngIf="experience.link">
          <fa-icon class="media-icon" [icon]="faGlobe"></fa-icon>
        </a>
        <a
          href="{{ experience.facebook }}"
          target="_blank"
          *ngIf="experience.facebook"
        >
          <fa-icon class="media-icon" [icon]="faFacebook"></fa-icon>
        </a>
        <a
          href="{{ experience.instagram }}"
          target="_blank"
          *ngIf="experience.instagram"
        >
          <fa-icon class="media-icon" [icon]="faInstagram"></fa-icon>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <img
        src="{{ experience.image }}"
        class="experience-pic"
        *ngIf="experience.image"
      />
    </div>
  </div>
</div>
