@import "src/styles";

.projectBox {
  width: 50%;
  height: 400px;
  flex: 0 0 auto;
  margin: 20px auto 20px auto;
  padding: 5px;
  background: rgba(255, 255, 255, 0.8);
  overflow: scroll;

  @media screen and (max-width: 1400px) {
    width: 75%;
  }

  @media screen and (max-width: 900px) {
    width: 85%;
  }

  @media screen and (max-width: 400px) {
    width: 80%;
    height: 600px;
  }
}

li,
p {
  @media screen and (max-width: 900px) {
    font-size: 18px;
    line-height: 18px;
  }

  @media screen and (max-width: 400px) {
    font-size: 16px;
    line-height: 16px;
  }
}

h4 {
  @media screen and (max-width: 900px) {
  }

  @media screen and (max-width: 400px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.card-title {
  text-align: left;
  padding-bottom: 15px;
}

.media-icon {
  padding-top: 10px;
  font-size: 35px;
  float: left;
  color: black;

  @media screen and (max-width: 900px) {
    font-size: 32px;
  }

  @media screen and (max-width: 400px) {
    font-size: 30px;
  }
}

.project-pic {
  width: 195px;
  height: 300px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 900px) {
    padding-right: 30px;
    width: 200px;
    height: 265px;
  }

  @media screen and (max-width: 400px) {
    width: 175px;
    height: 250px;
  }
}
a {
  color: #2f6690;
}

a:hover {
  color: #3a7ca5;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
