<div class="card projectBox">
  <img src="{{ project.image }}" class="project-pic" />
  <div
    class="project-desc"
    [ngClass]="{
      'is-phone-portrait': isPhonePortrait
    }"
  >
    <h3
      [ngClass]="{
        'is-phone-portrait': isPhonePortrait,
        'is-phone-landscape': isPhoneLandscape
      }"
    >
      {{ project.title | titlecase }}
    </h3>
    <div class="project-date">
      {{ project.date }}
    </div>
    <hr />
    <h4
      [ngClass]="{
        'is-phone-portrait': isPhonePortrait,
        'is-phone-landscape': isPhoneLandscape
      }"
    >
      {{ project.desc }}
    </h4>
    <br />
    <h4
      class="project-tech"
      [ngClass]="{
        'is-phone-portrait': isPhonePortrait,
        'is-phone-landscape': isPhoneLandscape
      }"
    >
      {{ project.tech }}
    </h4>
  </div>
  <a href="{{ project.github }}" target="_blank" *ngIf="project.github">
    <fa-icon
      class="media-icon"
      [icon]="faGitHub"
      ngbTooltip="View Project on GitHub"
    ></fa-icon>
  </a>
</div>
