@import "src/styles";

.featuredWork {
  border-radius: 30px;
  background: #fff;
}

a {
  color: #000;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
}
