@import "src/styles";

$box-border-shadow-color: rgb(175, 175, 175);

.profile {
  background: url(../../../assets/images/new-background.jpg) center top;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  min-height: 85vh;
  padding-bottom: 15px;
}

h1 {
  font-size: 44px;
}

h3 {
  color: black;
}

h4 {
  color: black;
  font-weight: normal;
  font-style: italic;
  padding-top: 20px;
  font-size: 34px;

  @media screen and (max-width: 1400px) {
    margin-top: 32px;
  }

  @media screen and (max-width: 900px) {
    font-size: 30px;
  }

  @media screen and (max-width: 400px) {
    font-size: 28px;
  }
}

.media-icon {
  padding-right: 20px;
  font-size: 40px;
  color: black;

  @media screen and (max-width: 900px) {
    font-size: 38px;
  }

  @media screen and (max-width: 400px) {
    font-size: 36px;
  }
}

hr {
  width: 50%;
  text-align: center;
  border: 3px solid #16425b;
}

.social {
  background: #fefae0;
  height: 15%;
  text-align: center;
  padding-top: 4%;
}

.info {
  height: 85%;
}

.profile-box {
  margin-top: 40px;
  padding-top: 20px;
  background: #e9edc9;
  width: 350px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1400px) {
    margin-top: 60px;
  }

  @media screen and (max-width: 900px) {
    width: 280px;
    height: 470px;
  }

  @media screen and (max-width: 400px) {
    width: 310px;
    height: 480px;
    margin-top: 100px;
  }
}

.name {
  padding-top: 10px;
  text-align: center;
}

.profile-img {
  display: block;
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
}

.desc {
  background: #fefae0;
  height: 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  min-height: 85vh;
  padding-bottom: 165px;

  @media screen and (max-width: 400px) {
    padding-top: 50px;
    min-height: 75vh;
  }
}

.new-header {
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

.tagline {
  text-align: center;
  padding-bottom: 25px;

  @media screen and (max-width: 500px) {
    padding-top: 10px;
  }
}

.right-side {
  padding-top: 70px;
  padding-left: 20px;

  @media screen and (max-width: 1400px) {
    padding-top: 80px;
  }

  @media screen and (max-width: 900px) {
    padding-top: 70px;
  }

  @media screen and (max-width: 400px) {
    padding-top: 15px;
  }
}

.headline {
  font-size: 72px;
  padding-bottom: 15px;

  @media screen and (max-width: 900px) {
    font-size: 70px;
  }

  @media screen and (max-width: 400px) {
    font-size: 66px;
  }
}

.icons {
  padding-bottom: 15px;
  position: relative;
  padding-top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.terminal {
  border-radius: 5px 5px 0 0;
  position: relative;

  @media screen and (max-width: 900px) {
    width: 300px;
  }
}
.terminal .top {
  background: #e8e6e8;
  color: black;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}
.terminal .btns {
  position: absolute;
  top: 7px;
  left: 5px;
}
.terminal .circle {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 15px;
  margin-left: 2px;
  border-width: 1px;
  border-style: solid;
}
.title {
  text-align: center;
}
.red {
  background: #ec6a5f;
  border-color: #d04e42;
  margin-right: 3px;
}
.green {
  background: #64cc57;
  border-color: #4ea73b;
}
.yellow {
  background: #f5c04f;
  border-color: #d6a13d;
  margin-right: 3px;
}
.clear {
  clear: both;
}
.terminal .body {
  background: black;
  color: #7afb4c;
  padding: 8px;
  overflow: auto;
  height: 200px;
  font-size: 20px;

  @media screen and (max-width: 900px) {
    height: 175px;
  }
}
.space {
  margin: 25px;
}
.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.highlights {
  // background-color: #659dbd;
  background-color: #34568b;
  padding-bottom: 50px;
  padding-top: 20px;
}

.highlight-tag {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
  font-size: 50px;
}

body {
  padding: 40px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.grid > article {
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  height: 475px;
  position: relative;
  background-color: white;

  @media screen and (max-width: 1400px) {
    height: 550px;
  }

  @media screen and (max-width: 900px) {
    height: 525px;
  }

  @media screen and (max-width: 400px) {
    font-size: 28px;
  }
}

.grid > article img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 15px auto;
  display: block;
}

.grid .text {
  padding: 20px;
}

.btn {
  width: 70%;
  margin: 15px 30px;
  position: absolute;
  bottom: 0;
}

.bottom-image {
  height: 512px;
  width: 512px;
  margin-top: 10px;
  margin-bottom: 10px;

  @media screen and (max-width: 900px) {
    height: 256px;
    width: 256px;
  }
}

.bottom-line {
  width: 75%;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

.bottom {
  margin-top: 20px;
  text-align: center;
}

.last-updated {
  margin: 20px 0;
  padding-bottom: 30px;
}

.quote {
  padding-bottom: 10px;
}
