@import "src/styles";

$box-border-shadow-color: rgb(175, 175, 175);

.header {
  position: relative;
  margin-top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 55px;
  text-align: center;
  padding-top: 100px;
}

.tagline-one {
  position: relative;
  padding-top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 55px;
  text-align: center;
}

.tagline-two {
  position: relative;
  padding-top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 55px;
  text-align: center;
}

.tagline-three {
  position: relative;
  padding-top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 55px;
  text-align: center;
}

.container {
  display: block;
  height: 500px;
  width: 500px;
  padding: 2em;
}

.home-page {
  background: linear-gradient(
      0deg,
      rgba(58, 124, 165, 0.5),
      rgba(58, 124, 165, 0.5)
    ),
    url(../../../assets/images/Background.jpg) center top;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.media-icon {
  font-size: 50px;
  margin: 10px 10px 20px 20px;
  color: white;
}

.icons {
  padding-bottom: 15px;
  position: relative;
  padding-top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media (min-width: 501px) {
  .separate-title {
    display: none;
  }
}

@media (max-width: 500px) {
  h1 {
    padding: 0;
    margin: 0;
    position: relative;
  }

  .separate-title {
    padding-top: 95px;
  }

  .tagline-one {
    padding-top: 10px;
  }

  .tagline-two {
    padding-top: 10px;
  }
}
