<div class="home-page"> 
    <div class="header">
      <h1>TONY 
        <div class="separate-title"></div>
        CAO</h1>
    </div> 
    <div class="tagline-one">
      <h4>Software Engineer</h4>
    </div>
    <div class="tagline-two">
      <h4>Math Student</h4>
    </div>
    <div class="tagline-three">
      <h4>Avid Baker</h4>
    </div>

    <div class="icons">
      <a href="mailto:jtony.cao@mail.utoronto.ca" >
        <fa-icon
        class="media-icon"
        [icon]="faEnvelope"
        ></fa-icon>
    </a>
      <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
          <fa-icon
          class="media-icon"
          [icon]="faLinkedinIn"
          ></fa-icon>
      </a>
      <a href="https://github.com/t-cao19" target="_blank">
          <fa-icon
          class="media-icon"
          [icon]="faGitHub"
          ></fa-icon>
      </a>
  </div>

</div>
