@import "src/styles";

$box-border-shadow-color: rgb(175, 175, 175);

.profile {
  background: url(../../../assets/images/new-background.jpg) center top;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  min-height: 100vh;
}

h1 {
  font-size: 44px;
}

h3 {
  color: black;
}

h4 {
  color: black;
  font-weight: normal;
  font-style: italic;
  padding-top: 20px;
  font-size: 34px;
}

.media-icon {
  padding-right: 20px;
  font-size: 40px;
  color: black;
}

hr {
  width: 50%;
  text-align: center;
  border: 3px solid #16425b;
}

.social {
  background: #fefae0;
  height: 15%;
  text-align: center;
  padding-top: 4%;
}

.info {
  height: 85%;
}

.profile-box {
  margin-top: 50px;
  padding-top: 20px;
  background: #e9edc9;
  width: 350px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  padding-top: 10px;
  text-align: center;
}

.profile-img {
  display: block;
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
}

.desc {
  background: #fefae0;
  height: 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
  min-height: 100vh;
}

.new-header {
  color: white;
  text-align: center;
  padding-bottom: 50px;
}

// .header {
//   position: relative;
//   margin-top: 200px;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: white;
//   line-height: 55px;
//   text-align: center;
//   padding-top: 100px;
// }

.tagline {
  text-align: center;
  padding-bottom: 25px;

  @media (max-width: 500px) {
    padding-top: 10px;
  }
}

.right-side {
  padding-top: 70px;
  padding-left: 20px;
}

.headline {
  font-size: 72px;
  padding-bottom: 15px;
}

.icons {
  padding-bottom: 15px;
  position: relative;
  padding-top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
