<div class="home-page row">
  <div class="col-md-5 profile">
    <div class="profile-box">
      <div class="info">
        <img
          class="profile-img"
          src="../../../assets/images/Tony Cao.jpeg"
          alt="Tony Cao"
        />
        <div class="name">
          <h1>TONY CAO</h1>
        </div>
        <hr />
        <div class="tagline">
          <h3>Software Developer</h3>
        </div>
      </div>
      <div class="social">
        <a href="mailto:jtony.cao@mail.utoronto.ca">
          <fa-icon class="media-icon" [icon]="faEnvelope"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
          <fa-icon class="media-icon" [icon]="faLinkedinIn"></fa-icon>
        </a>
        <a href="https://github.com/t-cao19" target="_blank">
          <fa-icon class="media-icon" [icon]="faGitHub"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="col-md-7 desc">
    <div class="right-side">
      <ngx-sbz-type-delete
        [textColor]="'black'"
        [blinkWidth]="'8px'"
        [fontSize]="'40px'"
        [typingSpeedMilliseconds]="100"
        [deleteSpeedMilliseconds]="200"
        [wordArray]="wordArray"
      >
      </ngx-sbz-type-delete>
    </div>
  </div>
</div>
