<div class="projects-page">
  <div class="header-box">
    <img
      src="../../../assets/images/projects-header.jpeg"
      alt="Projects"
      class="page-header-img"
    />

    <div class="page-header">Projects</div>
  </div>
  <div class="page-body">
    <div class="project-info">
      <p>
        Welcome to my list of projects! These projects range from basic programs
        to mobile applications to web applications!
      </p>
    </div>
    <mat-accordion class="example-headers-align">
      <div *ngFor="let project of projects; index as i">
        <mat-expansion-panel
          [expanded]="step === i"
          (opened)="setStep(i)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title> {{ project.title }} </mat-panel-title>
            <mat-panel-description>
              {{ project.description }}
              <i> {{ project.emphasis }} </i>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="row">
            <div class="col-md-4">
              <img src="{{ project.image }}" class="dropdown-pic" />
            </div>
            <div class="col-md-8">
              <br />
              <p><b>Project Overview:</b></p>
              <p>{{ project.overview }}</p>
              <br>
              <p><b>Project Dates:</b> {{ project.date }}</p>
              <br>
              <p><b>Key Highlights:</b></p>
              <ul *ngFor="let point of project.points">
                <li>
                  {{ point }}
                </li>
              </ul>
              <a href="{{ project.github }}" target="_blank">
                <fa-icon
                  class="media-icon"
                  [icon]="faGitHub"
                  ngbTooltip="View Project on GitHub"
                ></fa-icon>
              </a>
            </div>
          </div>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()" *ngIf="i != 0">
              Previous
            </button>
            <button
              mat-button
              color="primary"
              (click)="nextStep()"
              *ngIf="i != projects.length - 1"
            >
              Next
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <div class="more-projects">
      <h2>More Projects to Come!</h2>
    </div>
  </div>
</div>
