<div class="projects-page">
  <div class="page-body">
    <div class="title">
      <h2>Projects</h2>
    </div>
    <div class="projects" *ngFor="let project of projects">
      <app-project-box [project]="project"></app-project-box>
    </div>
    <div class="icons">
      <a href="mailto:jtony.cao@mail.utoronto.ca">
        <fa-icon class="footer-icon" [icon]="faEnvelope"></fa-icon>
      </a>
      <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
        <fa-icon class="footer-icon" [icon]="faLinkedinIn"></fa-icon>
      </a>
      <a href="https://github.com/t-cao19" target="_blank">
        <fa-icon class="footer-icon" [icon]="faGitHub"></fa-icon>
      </a>
    </div>
  </div>
</div>
