<div class="projects-page">
  <div class="row" id="projects" [ngClass]="{ hidden: isPhonePortrait }">
    <div
      class="col-md-6"
      id="projects-desc"
      [ngClass]="{ 'is-phone-landscape': isPhoneLandscape }"
    >
      <h1
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-landscape': isPhoneLandscape
        }"
      >
        Projects
      </h1>
      <h4
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-landscape': isPhoneLandscape
        }"
      >
        A showcase of my projects where technical skills and creativity combine
        together to produce innovation.
      </h4>
    </div>
    <div class="col-md-6">
      <img
        id="projects-pic"
        src="../../../assets/images/YVR.jpg"
        alt="Tony Cao"
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-landscape': isPhoneLandscape
        }"
      />
    </div>
  </div>
  <div id="projects" [ngClass]="{ hidden: !isPhonePortrait }">
    <div
      id="projects-desc"
      [ngClass]="{
        'is-phone-portrait': isPhonePortrait
      }"
    >
      <h1
        [ngClass]="{
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Projects
      </h1>
      <h4
        [ngClass]="{
          'is-phone-portrait': isPhonePortrait
        }"
      >
        A showcase of my projects where technical skills and creativity combine
        together to produce innovation.
      </h4>

      <img
        id="projects-pic"
        src="../../../assets/images/YVR.jpg"
        alt="Tony Cao"
        [ngClass]="{
          'is-phone-portrait': isPhonePortrait
        }"
      />
    </div>
  </div>
  <div id="skills">
    <h2
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-portrait': isPhonePortrait,
        'is-phone-landscape': isPhoneLandscape
      }"
    >
      Some Technical Skills
    </h2>
    <div [ngClass]="{ hidden: !isPhonePortrait }">
      <hr />
    </div>
    <div *ngFor="let row of technicalSkills">
      <div
        class="row onerow-skill"
        id="{{ row.id }}"
        [ngClass]="{ hidden: isPhonePortrait }"
      >
        <div class="col-md-3">
          <h2
            [ngClass]="{
              'is-tablet-landscape': isTabletLandscape,
              'is-tablet-portrait': isTabletPortrait,
              'is-phone-landscape': isPhoneLandscape
            }"
          >
            {{ row.skill[0] }}
          </h2>
        </div>
        <div class="col-md-3">
          <h2
            [ngClass]="{
              'is-tablet-landscape': isTabletLandscape,
              'is-tablet-portrait': isTabletPortrait,
              'is-phone-landscape': isPhoneLandscape
            }"
          >
            {{ row.skill[1] }}
          </h2>
        </div>
        <div class="col-md-3">
          <h2
            [ngClass]="{
              'is-tablet-landscape': isTabletLandscape,
              'is-tablet-portrait': isTabletPortrait,
              'is-phone-landscape': isPhoneLandscape
            }"
          >
            {{ row.skill[2] }}
          </h2>
        </div>
        <div class="col-md-3">
          <h2
            [ngClass]="{
              'is-tablet-landscape': isTabletLandscape,
              'is-tablet-portrait': isTabletPortrait,
              'is-phone-landscape': isPhoneLandscape
            }"
          >
            {{ row.skill[3] }}
          </h2>
        </div>
      </div>

      <div
        class="onerow-skill"
        id="{{ row.id }}"
        [ngClass]="{ hidden: !isPhonePortrait }"
      >
        <h2
          [ngClass]="{
            'is-phone-portrait': isPhonePortrait
          }"
        >
          {{ row.skill[0] }}
        </h2>

        <h2
          [ngClass]="{
            'is-phone-portrait': isPhonePortrait
          }"
        >
          {{ row.skill[1] }}
        </h2>

        <h2
          [ngClass]="{
            'is-phone-portrait': isPhonePortrait
          }"
        >
          {{ row.skill[2] }}
        </h2>

        <h2
          [ngClass]="{
            'is-phone-portrait': isPhonePortrait
          }"
        >
          {{ row.skill[3] }}
        </h2>
      </div>
    </div>
  </div>
  <div id="all-projects">
    <div
      class="row"
      *ngFor="let row of projects"
      [ngClass]="{
        hidden: isTabletPortrait || isPhoneLandscape
      }"
    >
      <div class="col-md-4">
        <app-project-box *ngIf="row[0]" [project]="row[0]"></app-project-box>
      </div>
      <div class="col-md-4">
        <app-project-box *ngIf="row[1]" [project]="row[1]"></app-project-box>
      </div>
      <div class="col-md-4">
        <app-project-box *ngIf="row[2]" [project]="row[2]"></app-project-box>
      </div>
    </div>
    <div
      class="row"
      *ngFor="let row of projects"
      [ngClass]="{
        hidden: !(isTabletPortrait || isPhoneLandscape)
      }"
    >
      <div class="col-md-6">
        <app-project-box *ngIf="row[0]" [project]="row[0]"></app-project-box>
      </div>
      <div class="col-md-6">
        <app-project-box *ngIf="row[1]" [project]="row[1]"></app-project-box>
      </div>
    </div>
  </div>
</div>
