@import "src/styles";

#projects-desc {
  padding-left: 10%;
  padding-top: 70px;
}

#projects {
  padding-bottom: 30px;
}

#projects-pic {
  display: block;
  width: 475px;
  height: 350px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 30px;
  margin: 30px auto 0px auto;
}

#projects-pic.is-tablet-landscape {
  width: 450px;
  height: 300px;
  margin: 20px auto 0px auto;
}

#projects-pic.is-tablet-portrait {
  width: 325px;
  height: 250px;
  margin: 70px auto 0px auto;
}

#skills {
  background: rgba(0, 0, 0, 0.93);
  padding: 45px 10%;
}

.onerow-skill {
  text-align: center;
  color: #fffefc;
}

#row-2 h2 {
  font-size: 32px;
}

#row-3 h2 {
  font-size: 28px;
}

#row-4 h2 {
  font-size: 24px;
}

.media-icon {
  // padding-right: 20px;
  padding-left: 70%;
  font-size: 16px;
  color: black;
}

div.hidden {
  display: none;
}
