<div class="resume-page">
  <div class="row" id="resume" [ngClass]="{ hidden: isPhonePortrait }">
    <div class="col-md-6" id="resume-desc">
      <h1
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait
        }"
      >
        Resume
      </h1>
      <h4
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait
        }"
      >
        A walkthrough of my current and past experiences along with the skills I
        have gained through it.
      </h4>
    </div>
    <div class="col-md-6">
      <img
        id="resume-pic"
        src="../../../assets/images/TelusGarden.jpg"
        alt="Tony Cao"
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait
        }"
      />
    </div>
  </div>
  <div id="resume" [ngClass]="{ hidden: !isPhonePortrait }">
    <div class="col-md-6" id="resume-desc">
      <h1
        [ngClass]="{
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Resume
      </h1>
      <h4
        [ngClass]="{
          'is-phone-portrait': isPhonePortrait
        }"
      >
        A walkthrough of my current and past experiences along with the skills I
        have gained through it.
      </h4>
    </div>
    <div class="col-md-6">
      <img
        id="resume-pic"
        src="../../../assets/images/TelusGarden.jpg"
        alt="Tony Cao"
        [ngClass]="{
          'is-phone-portrait': isPhonePortrait
        }"
      />
    </div>
  </div>
  <div id="statistics">
    <h2
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-portrait': isPhonePortrait
      }"
    >
      Some quick statistics
    </h2>
    <div class="row">
      <div
        class="col-md-3 stats-num"
        [ngClass]="{
          'is-phone-portrait': isPhonePortrait
        }"
      >
        <h2
          [ngClass]="{
            'is-tablet-landscape': isTabletLandscape,
            'is-tablet-portrait': isTabletPortrait
          }"
        >
          3
        </h2>
        <p
          [ngClass]="{
            'is-tablet-landscape': isTabletLandscape,
            'is-tablet-portrait': isTabletPortrait
          }"
        >
          Companies
        </p>
      </div>
      <div
        class="col-md-3 stats-num"
        [ngClass]="{
          'is-phone-portrait': isPhonePortrait
        }"
      >
        <h2
          [ngClass]="{
            'is-tablet-landscape': isTabletLandscape,
            'is-tablet-portrait': isTabletPortrait
          }"
        >
          5
        </h2>
        <p
          [ngClass]="{
            'is-tablet-landscape': isTabletLandscape,
            'is-tablet-portrait': isTabletPortrait
          }"
        >
          Job Positions
        </p>
      </div>
      <div
        class="col-md-3 stats-num"
        [ngClass]="{
          'is-phone-portrait': isPhonePortrait
        }"
      >
        <h2
          [ngClass]="{
            'is-tablet-landscape': isTabletLandscape,
            'is-tablet-portrait': isTabletPortrait
          }"
        >
          3
        </h2>
        <p
          [ngClass]="{
            'is-tablet-landscape': isTabletLandscape,
            'is-tablet-portrait': isTabletPortrait
          }"
        >
          Volunteer Experiences
        </p>
      </div>
      <div class="col-md-3 stats-num" id="last">
        <h2
          [ngClass]="{
            'is-tablet-landscape': isTabletLandscape,
            'is-tablet-portrait': isTabletPortrait
          }"
        >
          14
        </h2>
        <p
          [ngClass]="{
            'is-tablet-landscape': isTabletLandscape,
            'is-tablet-portrait': isTabletPortrait
          }"
        >
          Course as a TA
        </p>
      </div>
    </div>
  </div>
  <div id="work-exp">
    <h2
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait
      }"
    >
      Work Experience
    </h2>
    <div class="exp" *ngFor="let exp of resume.work">
      <app-resume-experience [experience]="exp"></app-resume-experience>
    </div>
  </div>
  <div id="volunteer-exp">
    <h2
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-portrait': isPhonePortrait
      }"
    >
      Volunteer Experience
    </h2>
    <div class="exp" *ngFor="let exp of resume.volunteer">
      <app-resume-experience
        [experience]="exp"
        [inverted]="true"
      ></app-resume-experience>
    </div>
  </div>
  <div id="education">
    <h2
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-portrait': isPhonePortrait
      }"
    >
      Education
    </h2>
    <h4
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-portrait': isPhonePortrait
      }"
    >
      Honours Bachelor of Science with High Distinction
    </h4>
    <div
      id="university"
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-portrait': isPhonePortrait
      }"
    >
      University of Toronto, 2018-2023
    </div>
    <ul>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Completion of a specialist in Computer Science (Co-op) -
        <i>Software Engineering</i> and Major in Mathematics
      </li>
    </ul>
    <br />
    <p
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-portrait': isPhonePortrait
      }"
    >
      <u>Awards/Honours</u>
    </p>
    <ul>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Dean's List (Nov 2019, Sept 2020/21/22)
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        University of Toronto Scholar (Top 700 applicant) carrying a value of
        $7,500 initial and $3,000 in subsequent years (twice)
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Best project by City of Toronto in CSCC01:
        <i>Introduction to Software Engineering</i>
      </li>
    </ul>
    <hr />
    <h2
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-portrait': isPhonePortrait
      }"
    >
      Teachings
    </h2>
    <h4
      [ngClass]="{
        'is-tablet-landscape': isTabletLandscape,
        'is-tablet-portrait': isTabletPortrait,
        'is-phone-portrait': isPhonePortrait
      }"
    >
      A list of all courses I have been apart of at the University of Toronto,
      Department of Computer and Mathematical Science as a Teaching Assistant.
    </h4>
    <ul>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Engineering Large Software Systems - Head TA, CSCD01, Winter 2023.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Calculus II for Physical Sciences, MATA36, Winter 2023.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Calculus II for Mathematical Sciences, MATA37, Winter 2023.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Discrete Mathematics, CSC/MATA67, Fall 2022.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Introduction to Databases - Head TA, CSCC43, Fall 2022.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Linear Algebra II, MATB24, Fall 2022.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Techniques of the Calculus of Several Variables I, MATB41, Fall 2022.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Groups and Symmetry, MATC01, Fall 2022.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Calculus II for Mathematical Sciences, MATA37, Summer 2022.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Techniques of the Calculus of Several Variables I, MATB41, Summer 2022.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Calculus II for Mathematical Sciences, MATA37, Winter 2022.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Discrete Mathematics, CSC/MATA67, Fall 2021.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Calculus for Management I - Two Tutorials, MATA32, Fall 2021.
      </li>
      <li
        [ngClass]="{
          'is-tablet-landscape': isTabletLandscape,
          'is-tablet-portrait': isTabletPortrait,
          'is-phone-portrait': isPhonePortrait
        }"
      >
        Calculus II for Mathematical Sciences, MATA37, Winter 2021.
      </li>
    </ul>
  </div>
</div>
