<div class="resume-page">
  <div class="page-body">
    <div class="title">
      <h2>Resume</h2>
    </div>
      <div class="work">
        <div class="subtitle">
          <h4>Work Experience</h4>
        </div>
        <table class="work-table">
          <thead>
            <tr class="work-header">
              <th><h3>Employer</h3></th>
              <th><h3>Position</h3></th>
              <th><h3>Duration</h3></th>
            </tr>
        </thead>
        <tbody *ngFor="let work of works; let even = even">  
            <tr class="gray-background" *ngIf="!even">
              <td><p> {{ work.employer }} </p></td>
              <td><p> {{ work.position }}</p></td>
              <td><p> {{ work.duration }}</p></td>
            </tr>
            <tr class="blue-background" *ngIf="even">
              <td><p> {{ work.employer }} </p></td>
              <td><p> {{ work.position }}</p></td>
              <td><p> {{ work.duration }}</p></td>
            </tr>
        </tbody>
        </table>
      </div>
      <div class="resume">
        <div class="subtitle">
          <h4>Full Resume</h4>
        </div>
        <div class="resume-pdf">
          <iframe src="https://drive.google.com/file/d/1KXEfPGSyy0tepfLCM0v8ilsWB1AVf9fF/preview" width="80%" height="600px"></iframe>
        </div>
      </div>
      <div class="icons">
        <a href="mailto:jtony.cao@mail.utoronto.ca" >
          <fa-icon
          class="footer-icon"
          [icon]="faEnvelope"
          ></fa-icon>
        </a>
        <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
            <fa-icon
            class="footer-icon"
            [icon]="faLinkedinIn"
            ></fa-icon>
        </a>
        <a href="https://github.com/t-cao19" target="_blank">
            <fa-icon
            class="footer-icon"
            [icon]="faGitHub"
            ></fa-icon>
        </a>
      </div>
  </div>
</div>
