@import "src/styles";

.resume-page {
  background: linear-gradient(
      0deg,
      rgba(58, 124, 165, 0.5),
      rgba(58, 124, 165, 0.5)
    ),
    url(../../../assets/images/Background.jpg) center top;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 100px;
}

.page-body {
  width: 80%;
  margin: 30px auto 30px auto;
}

.row {
  width: 70%;
  margin: 30px auto 30px auto;
}

.title {
  text-align: center;
  color: white;
}

.resume {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.subtitle {
  text-align: center;
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 90%;
}

th {
  background-color: #16425b;
  color: #d9dcd6;
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
}

td {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100px;
  letter-spacing: 1px;

  @media (max-width: 650px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.gray-background {
  background-color: #d9dcd6;
}

.blue-background {
  background-color: #81c3d7;
}

.footer-icon {
  font-size: 50px;
  margin: 10px 10px 20px 20px;
  color: white;
}

.icons {
  padding-top: 15px;
  padding-bottom: 15px;
  left: 50%;
  text-align: center;
}

h3 {
  @media (max-width: 650px) {
    font-size: 20px;
  }

  @media (max-width: 300px) {
    font-size: 15px;
  }
}

p {
  @media (max-width: 650px) {
    font-size: 18px;
  }

  @media (max-width: 300px) {
    font-size: 15px;
  }
}

.resume-pdf {
  text-align: center;
}

.resume-link {
  // color: #16425b;
  color: white;
}

.resume-link:hover {
  color: #2f6690;
}
