@import "src/styles";

.resume-page {
  // background-color: #f1ecce;
  background-color: #e2ece9;
}

.header-box {
  background-color: lightgray;
}

.page-body {
  width: 80%;
  margin: 30px auto 30px auto;
}

.page-header-img {
  opacity: 0.6;
}

.education {
  margin-top: 20px;
  margin-bottom: 50px;
}
