@import "src/styles";

#resume-desc {
  padding-left: 10%;
  padding-top: 70px;
}
#resume {
  height: 450px;
  padding-bottom: 30px;
}

#resume-pic {
  display: block;
  width: 475px;
  height: 350px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 30px;
  margin: 30px auto 0px auto;
}

#statistics,
#volunteer-exp {
  background: rgba(0, 0, 0, 0.93);
  padding: 45px 10%;
}

.stats-num {
  text-align: center;
  border-right: 1px white solid;
}

#last {
  border-right: none;
}

.stats-num > p {
  color: #fffefc;
}

h2 {
  color: #000;
  margin: 0;
}

#statistics h2,
#volunteer-exp h2 {
  color: #fffefc;
}

#work-exp {
  padding: 45px 10%;
}

#education {
  padding: 45px 10%;
}

hr {
  background: #000;
  width: 40%;
  height: 1px;
  margin: 20px auto;
}

#university {
  color: #000;
  font-family: Work Sans;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%; /* 36px */
}
