@import "src/styles";

#now-desc {
  padding-left: 10%;
  padding-top: 70px;
}

#now {
  padding-bottom: 30px;
}

#now-pic {
  display: block;
  width: 550px;
  height: 400px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 30px;
  margin: 30px auto 0px auto;
}

#now-pic.is-tablet-landscape {
  width: 450px;
  height: 300px;
  margin: 20px auto 0px auto;
}

#now-pic.is-tablet-portrait {
  width: 325px;
  height: 250px;
  margin: 70px auto 0px auto;
}

#now-words {
  background: rgba(0, 0, 0, 0.93);
  padding: 45px 10%;
}

.left-words {
  text-align: left;
}

.right-words {
  text-align: right;
}

.left-words,
.right-words {
  margin: 20px 0px;
}

#bottom-word {
  margin-top: 40px;
}

#now-words > p {
  color: #fffefc;
  font-style: italic;
  font-size: 18px;
}

#now-content {
  background: transparent;
  padding-left: 10%;
  padding-top: 50px;
  padding-right: 5%;
  padding-bottom: 15px;
}

#now-content > h2 {
  color: #000;
}

#reflection-pic {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

#reflection-pic.is-tablet-portrait,
#reflection-pic.is-tablet-landscape {
  height: 100%;
  object-position: 50% 50%;
}
