@import "~@angular/material/theming";
@include mat-core();

$github-webpage-primary: mat-palette($mat-indigo);
$github-webpage-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $github-webpage-warn: mat-palette($mat-red);

$github-webpage-theme: mat-light-theme(
  $github-webpage-primary,
  $github-webpage-accent
);

@include angular-material-theme($github-webpage-theme);

$primary-color: #e2fadb;
$secondary-color: #f2fdff;
$dark-color: rgb(7, 27, 48);
$grey-color: #dddddd;

$background-color1: white;
$background-color2: rgb(240, 240, 240);

$navigation-color: black;
$navigation-accent-color: #ccc;

$footer-text-color: rgb(192, 192, 192);

$error-red: rgb(255, 26, 26);

html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 35px;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 15px;
}
