@import "~@angular/material/theming";
@include mat-core();

$github-webpage-primary: mat-palette($mat-indigo);
$github-webpage-accent: mat-palette($mat-pink, A200, A100, A400);
$github-webpage-theme: mat-light-theme(
  $github-webpage-primary,
  $github-webpage-accent
);

@include angular-material-theme($github-webpage-theme);
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alegreya+Sans+SC:wght@500&family=Alegreya:wght@500&family=Eczar:wght@600&family=Josefin+Sans:wght@600&family=Lora:ital,wght@1,700&family=Raleway&family=Roboto:wght@400;500;700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500&display=swap");
$primary-color: #e2fadb;
$secondary-color: #f2fdff;
$dark-color: rgb(7, 27, 48);
$grey-color: #dddddd;

$background-color1: #fff;
$background-color2: rgb(240, 240, 240);

$navigation-color: #d9dcd6;
$navigation-accent-color: #81c3d7;

$footer-text-color: rgb(192, 192, 192);

$error-red: rgb(255, 26, 26);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

h1 {
  color: #151413;
  font-family: Eczar;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 80px */
  letter-spacing: 1.28px;
}

h1.is-tablet-landscape {
  font-size: 38px;
}

h1.is-tablet-portrait {
  font-size: 30px;
}

h2 {
  color: #fffefc;
  font-family: Eczar;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
}

h2.is-tablet-portrait {
  font-size: 32px;
}

h3 {
  color: #000;
  font-family: Work Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
}

h3.is-tablet-landscape,
h3.is-tablet-portrait {
  font-size: 20px;
  margin-bottom: 10px;
}

h4 {
  color: #594f43;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
}

h4.is-tablet-landscape,
h4.is-tablet-portrait {
  font-size: 18px;
}

h5 {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 125% */
  margin-bottom: 5px;
}

ul,
li,
p {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 30px */
}

p.is-tablet-landscape,
p.is-tablet-portrait,
li.is-tablet-portrait,
li.is-tablet-landscape {
  font-size: 18px;
}

.page-header-img {
  display: block;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.page-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  line-height: 55px;
  font-family: "Josefin Slab", serif;
  font-size: 50px;
  text-align: center;
}

.header-box {
  text-align: center;
  height: 450px;
  position: relative;
}

.page-body {
  position: relative;
  margin-top: 20px;
}

.nav-link {
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
