<div class="tutorial-page">
  <h2 class="course-code">MATA37: Calculus II for Mathematical Sciences</h2>
  <div class="page-body">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Winter 2022">
        <div class="subtitle">
          <h4>MATA37 Winter 2022: TUT002</h4>
        </div>
        <div class="tutorials">
          <div class="tutorial-info row">
            <div class="col-md-4">
              <h3><u>TA Name:</u></h3>
              <p>Tony Cao</p>
            </div>
            <div class="col-md-4">
              <h3>
                <u>Tutorial Times:</u>
              </h3>
              <p>Tues 7-9pm Online*</p>
            </div>
            <div class="col-md-4">
              <h3>
                <u>Office Hours:</u>
              </h3>
              <p class="tutorial">Mon 11am - 12pm & Tues 3 - 4pm Online*</p>
            </div>
          </div>
          <div *ngIf="winter22Timeline.length == 0">
            <h5>No tutorial notes yet, check back later!</h5>
          </div>
          <div class="final-remarks" *ngIf="winter22Timeline.length == 11">
            <h4>
              <b
                >That's all for tutorials! <br />
                Best of luck on final + everything!</b
              >
            </h4>
          </div>
          <div *ngIf="winter22Timeline.length > 0">
            <app-ngx-vertical-timeline
              [(items)]="winter22Timeline"
            ></app-ngx-vertical-timeline>
          </div>
          <div>
            <p class="footnotes">
              <i
                >*Online until the University reopens for in-person
                instruction</i
              >
            </p>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Winter 2021">
        <div class="subtitle">
          <h4>MATA37 Winter 2021: TUT016</h4>
        </div>
        <div class="tutorials">
          <div class="tutorial-info row">
            <div class="col-md-4">
              <h3><u>TA Name:</u></h3>
              <p>Tony Cao</p>
            </div>
            <div class="col-md-4">
              <h3>
                <u>Tutorial Times:</u>
              </h3>
              <p>Tues 9-11am Online</p>
            </div>
            <div class="col-md-4">
              <h3>
                <u>Office Hours:</u>
              </h3>
              <p>Tues 11 am - 1pm Online</p>
            </div>
          </div>
          <div *ngIf="winter21Timeline.length == 0">
            <h5>No tutorial notes yet, check back later!</h5>
          </div>
          <div class="final-remarks" *ngIf="winter21Timeline.length == 11">
            <h4>
              <b
                >That's all for tutorials! <br />
                Best of luck on final + everything!</b
              >
            </h4>
          </div>
          <div *ngIf="winter21Timeline.length > 0">
            <app-ngx-vertical-timeline
              [(items)]="winter21Timeline"
            ></app-ngx-vertical-timeline>
          </div>
        </div>
        <div class="icons">
          <a href="mailto:jtony.cao@mail.utoronto.ca">
            <fa-icon class="footer-icon" [icon]="faEnvelope"></fa-icon>
          </a>
          <a href="https://www.linkedin.com/in/tony-cao19/" target="_blank">
            <fa-icon class="footer-icon" [icon]="faLinkedinIn"></fa-icon>
          </a>
          <a href="https://github.com/t-cao19" target="_blank">
            <fa-icon class="footer-icon" [icon]="faGitHub"></fa-icon>
          </a>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
