<div class="tutorial-page">
    <div class="page-body">
        <div class="title">
            <h2> MATA37 Winter 2021: TUTXXX</h2>
        </div>
        <div class="subtitle">
            <h4>Calculus II for the Mathematical Sciences</h4>
        </div>
        <!-- <div class="tutorial-info">
            <div class="col">
            <h5><b>TA Name:</b> Tony Cao</h5>
            <h5><b>Tutorial Times:</b> X:XX - Y:YY</h5>
            <h5><b>Office Hours: </b> X:XX - Y:YY</h5>
        </div> -->
        <!-- </div> -->
        <div *ngIf="tutorials.length == 0">
            <h5>No tutorial notes yet, check back later!</h5>
        </div>
        <div *ngIf="tutorials.length > 0">
            <div class="tutorial-notes" *ngFor="let tutorial of tutorials">
                <app-tutorial-box [tutorial]="tutorial"></app-tutorial-box>
            </div>
        </div>
    </div>
</div>